{% load static %}

<nav id="nav-below" class="navigation-area" role="navigation">
    <div class="row">
    <h3 class="assistive-text">article navigation</h3>
    {% if page_obj.has_next  and next_url%}
    <div
    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
    <div class="thumb">
       <a href="#">
          <img class="img-fluid" src="{% static 'assets/img/post/preview.png'%}" alt="">
       </a>
    </div>
    <div class="arrow">
       <a href="#">
          <span class="lnr text-white ti-arrow-left"></span>
       </a>
    </div>
    <div class="detials">
       
       <a href="{{ next_url }}">
        <span
        class="meta-nav">&larr;</span><p>Next Post</p>
       </a>
    </div>
</div>
 </div>
        <!-- <div class="nav-previous"><a
                href="{{ next_url }}"><span
                class="meta-nav">&larr;</span> early articles</a></div> -->
    {% endif %}
    {% if page_obj.has_previous and previous_url %}
    <div
    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
    <div class="thumb">
       <a href="#">
          <img class="img-fluid" src="{% static 'assets/img/post/preview.png'%}" alt="">
       </a>
    </div>
    <div class="arrow">
       <a href="#">
          <span class="lnr text-white ti-arrow-left"></span>
       </a>
    </div>
    <div class="detials">
       <p>Prev Post</p>
       <a href="{{ previous_url }}">
          <h4>previous article</h4>
       </a>
    </div>
</div>
    {% endif %}
</nav><!-- .navigation -->

<!-- <div class="navigation-area">
    <div class="row">
       <div
          class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
          <div class="thumb">
             <a href="#">
                <img class="img-fluid" src="assets/img/post/preview.png" alt="">
             </a>
          </div>
          <div class="arrow">
             <a href="#">
                <span class="lnr text-white ti-arrow-left"></span>
             </a>
          </div>
          <div class="detials">
             <p>Prev Post</p>
             <a href="#">
                <h4>Space The Final Frontier</h4>
             </a>
          </div>
       </div>
       <div
          class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
          <div class="detials">
             <p>Next Post</p>
             <a href="#">
                <h4>Telescopes 101</h4>
             </a>
          </div>
          <div class="arrow">
             <a href="#">
                <span class="lnr text-white ti-arrow-right"></span>
             </a>
          </div>
          <div class="thumb">
             <a href="#">
                <img class="img-fluid" src="assets/img/post/next.png" alt="">
             </a>
          </div>
       </div>
    </div>
 </div> -->